.page {
  min-width: 320px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 100%;
  /* выше установили ограничение по максимальной ширине */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing:border-box;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: aqua;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
