.places__paragraphs {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 484px;
  min-width: 288px;
  width: 100%;
  list-style: none;

}

@media screen and (max-width: 767px) {
  .places__paragraphs {
    padding: 0 16px;
  }
}
