.header {
  background: #2A2C2F;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 56px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}
