.cover__overlay {
  max-width: 1184px;
  padding: 20.68% 0;
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cover__overlay:hover {
  transition-duration: .6s;
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    padding: 19.03% 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    padding: 14.95% 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    padding: 10.4% 0;
  }
}
