.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  min-width: 258px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  z-index: 4;
  color: #FFFFFF;
  position: absolute;
  top: 33%;
  left: 50%;
  margin-left: -280px;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    top: 30%;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    top: 24%;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    margin-left: -144px;
    max-width: 288px;
    top: 18%;
  }
}
