.cover__title {
  margin: 0 0 16px;
  padding: 0;
  max-width: 560px;
  min-width: 258px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  z-index: 4;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0 0 8px;
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}
